.shop-container{
    width: 80%;
    margin:12px auto;
    display: grid;
    grid-column-gap: 15px;
    grid-template-columns: 3fr 1fr;
}
.product-container{
    box-shadow: 1px 1px 1px 1px #bebebe;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
}
.cart-container{
    box-shadow: 1px 1px 1px 1px #bebebe;
    background-color: white;
    height: 265px;
    padding: 10px;
    border-radius: 5px;
    border-right: 2px solid darkblue;
    border-left: 2px solid darkblue;
}
.cart-title{
    text-align: center;
}
.cart-title h3, h4{
    margin:0;
}
.cart-container hr{
    color: darkblue;
}