.cart-item{
    padding:0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.place-order{
    width: 100%;
    margin: 20px 0;
    padding:8px 0;
    background-color: darkblue;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.place-order:hover{
    background-color: #0000ff;
}
.cart-title{
    text-align: center;
}
h3, h4{
    margin: 0;
}